/* asignouna configuración en css para mi archivo y que me permita cambiar estos elementos y también el desarrollo local funcione.
Para body le paso una regla */
body {
  margin: 0;
  background-color: red;
  color: white;
}
